@import url('http://fonts.cdnfonts.com/css/valorant?styles=64778');

.agent-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.agentTitle {
  font-family: 'VALORANT', sans-serif;
  color: white;
  margin: 20px;
  font-size: xx-large;
}

.agent-prof {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 10px;
}

.agentName {
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: 'VALORANT', sans-serif;
  color: white;
  margin-bottom: 15px;
  font-size: x-large;
}

.agent-icon {
  width: 50px;
  margin-right: 10px;
}

.agentName:hover {
  color: red;
}

.agent-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.agent-info {
  display: flex;
}

.agent-desc {
  font-family: 'VALORANT', sans-serif;
  color: white;
}

.agent-role {
  font-family: 'VALORANT', sans-serif;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0,6);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-close-btn {
  border: none;
  background: transparent;
  font-size: 50px;
  margin-left: 200px;
  color: red;
  cursor: pointer;
}

.agent-modal-container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start !important; */
  position: fixed;
  background-color: black;
  border-radius: 20px;
  padding: 20px;
  max-height: 90%;
  max-width: 90%;
  width: max-content;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow-y: scroll;
  scroll-behavior: smooth;
  text-align: left !important;
}

/* .agent-util {
  display: flex;
  flex-direction: row;
} */