@import url('http://fonts.cdnfonts.com/css/valorant?styles=64778');

* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-right: 30px;
  align-items: center;
  background-color: rgba(16,24,35,255);
  justify-content: center;
  width: 100%;
  /* color: white; */
}

.icon {
  width: 100px;
  margin-bottom: 15px;
}

/* body {
  background: transparent;
} */

.title {
  font-family: 'VALORANT', sans-serif;
  color: red;
  font-size: -webkit-xxx-large;
}